.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background: #242a3c;
  padding: 20px;
  width: 400px;
  max-width: 90%;
}

.homePageLogoWrapper {
  display: flex;
  justify-content: center;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.homePageLogo {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #eee;
  font-size: 16px;
  margin-bottom: 22px;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: 24px;
  font-weight: bold;
}

.success {
  color: white;
  background: linear-gradient(to right, #006da8, #01a4ff, #01ffc2);
}

.newRoomBtn {
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}
